.red1-dir {
    background-color: red;
    height: 200px;
}
.yellow-dir {
    background-color:yellow;
    height: 60px;
}
.blue-dir {
    background-color:blue;
    height: 60px;
}
.green-dir {
    background-color:green;
    height: 200px;
}
.gray-dir {
    background-color: grey;
    height: 60px;
}
.black-dir {
    background-color:black;
    height:60px;
}
head {
    background-image: image/Без ;
}